* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root {
    --background-clean:#7fffd4;
    --margin-y: 30px 0;
}

header {
    background-color: white;
    height: 7%;
}

main {
    background-color: var(--background-clean);
    height: 86%;
    width: 100%;
}

footer {
    text-align: center;
    height: 7%;
}

h1 {
    font-size: 50px;
    color: black;
    text-align: center;
    margin: var(--margin-y);
}

.grid_center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg_container {
    border: 1px solid black;
    width: 700px;
    height: 700px;
    margin: 35px;
    display: flex;
    flex-wrap: wrap;     
}

.box_1 {
    width: calc(100% / 10);
    height: calc(100% / 10);
    border: 1px solid black;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box_2 {
    width: calc(100% / 9);
    height: calc(100% / 9);
    border: 1px solid black;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box_3 {
    width: calc(100% / 7);
    height: calc(100% / 7);
    border: 1px solid black;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clicked {
    background-color: #6495ed;
    color:white;
}

.bomba {
    background-color: red;
}